In [1]:
import os
import pandas as pd
from zipfile import ZipFile
import requests
from io import BytesIO

class FlightDataProcessor:
    def __init__(self, gitlab_url):
        # Download the zip file from the GitLab URL
        response = requests.get(gitlab_url)
    
        zip_file = ZipFile(BytesIO(response.content))

        # Set the destination folder for the extracted data
        destination_folder = os.path.join('group_03', 'downloads1')

        # Ensure the destination folder exists
        os.makedirs(destination_folder, exist_ok=True)

        # Extract the datasets from the zip folder
        zip_file.extractall(destination_folder)

        # Read the datasets into pandas dataframes
        self.airlines_df = pd.read_csv(os.path.join(destination_folder, 'airlines.csv'))
        self.airplanes_df = pd.read_csv(os.path.join(destination_folder, 'airplanes.csv'))
        self.airports_df = pd.read_csv(os.path.join(destination_folder, 'airports.csv'))
        self.routes_df = pd.read_csv(os.path.join(destination_folder, 'routes.csv'))

# GitLab URL for the raw flight_data.zip file
gitlab_url = 'https://gitlab.com/adpro9641208/group_03/-/raw/main/flight_data.zip'

# Create an instance of FlightDataProcessor with the GitLab URL
flight_processor = FlightDataProcessor(gitlab_url)

# Access the dataframes
airlines = flight_processor.airlines_df
airplanes = flight_processor.airplanes_df
airports = flight_processor.airports_df
routes = flight_processor.routes_df

In [3]:
airlines

,index,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
...,...,...,...,...,...,...,...,...,...
6157,6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [4]:
airplanes

     index                                          Name IATA code ICAO code
0        0                       Aerospatiale (Nord) 262       ND2      N262
1        1  Aerospatiale (Sud Aviation) Se.210 Caravelle       CRV      S210
2        2                  Aerospatiale SN.601 Corvette       NDC      S601
3        3                Aerospatiale/Alenia ATR 42-300       AT4      AT43
4        4                Aerospatiale/Alenia ATR 42-500       AT5      AT45
..     ...                                           ...       ...       ...
241    241                                Tupolev Tu-144        \N      T144
242    242                                Tupolev Tu-154       TU5      T154
243    243                                Tupolev Tu-204       T20      T204
244    244                               Yakovlev Yak-40       YK4      YK40
245    245                               Yakovlev Yak-42       YK2      YK42

[246 rows x 4 columns]

In [5]:
airports

,index,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,7693,14106,Rogachyovo Air Base,Belaya,Russia,\N,ULDA,71.616699,52.478298,272,\N,\N,\N,airport,OurAirports
7694,7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849998,107.737999,1670,\N,\N,\N,airport,OurAirports
7695,7695,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625000,31.385000,85,\N,\N,\N,airport,OurAirports
7696,7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports
7697,7697,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880001,35.305000,0,\N,\N,\N,airport,OurAirports

In [6]:
routes

,index,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...,...
67658,67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734